<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Abhishek Nalwaya" />
<meta name="keywords" content="Abhishek Nalwaya"/>

<title>Abhishek Nalwaya</title>
<!--Fav and touch icons-->
<link rel="shortcut icon" href="/img/icons/favicon.ico">
<link rel="apple-touch-icon" href="/img/icons/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="/img/icons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/img/icons/apple-touch-icon-114x114.png">
 <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<!--style sheet-->
<link rel="stylesheet" media="screen" href="/css/bootstrap.css"/>
<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.css"/>
<link rel="stylesheet" type="text/css" href="/css/fontello/css/fontello.css"/>
<link rel="stylesheet" media="screen" href="/css/styles.css"/>
<link rel="stylesheet" type="text/css" href="/css/animate.css"/>
<link rel="stylesheet" type="text/css" href="/css/owl.carousel.css"/>
<link rel="stylesheet" type="text/css" href="/css/owl.theme.css"/>
<link rel="stylesheet" type="text/css" href="/css/responsive.css"/>
<link rel="stylesheet" type="text/css" href="/css/syntax.css"/>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Montserrat:400,700">
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

<!--color stylesheet -->
<!--<link rel="stylesheet" href="/css/colors/color-gray.css" title="gray">-->
<!--<link rel="stylesheet" href="/css/colors/color-green.css" title="green">-->
<!--<link rel="stylesheet" href="/css/colors/color-red.css" title="red">-->
<!--<link rel="stylesheet" href="/css/colors/color-purple.css" title="purple">-->
<link rel="stylesheet" href="/css/colors/color-blue.css" title="blue">
<!--<link rel="stylesheet" href="/css/colors/color-turquoise.css" title="turquoise">-->
<!--<link rel="stylesheet" href="/css/colors/color-sun-flower.css" title="sun-flower">-->
<!--<link rel="stylesheet" href="/css/colors/color-orange.css" title="orange">-->
<!--<link rel="stylesheet" href="/css/colors/color-emerald.css" title="emerald">-->
<!--<link rel="stylesheet" href="/css/colors/color-wet-asphalt.css" title="wet-asphalt">-->
</head>
<body>
<!-- Styleswitcher -->
      <!--<div class="colors-switcher">-->
            <!--<a id="show-panel" class="hide-panel"><i class="fa fa-tint"></i></a>-->
            <!--<p>Color Skins:</p>-->
              <!--<ul class="colors-list">-->
                <!--<li class="no-margin"><a title="Gray" class="gray" onClick="setActiveStyleSheet('gray'); return false;"></a></li>-->
                <!--<li><a title="Green" class="green" onClick="setActiveStyleSheet('green'); return false;"></a></li>-->
                  <!--<li><a title="Red" onClick="setActiveStyleSheet('red'); return false;" class="red"></a></li>-->
                  <!--<li class="no-margin"><a title="Purple" onClick="setActiveStyleSheet('purple'); return false;" class="purple"></a></li>-->
                  <!--<li><a title="Blue" class="blue" onClick="setActiveStyleSheet('blue'); return false;"></a></li>-->
                  <!--<li class="no-margin"><a title="Turquoise" class="turquoise" onClick="setActiveStyleSheet('turquoise'); return false;"></a></li>-->
                  <!--<li><a title="Sun Flower" class="sun-flower" onClick="setActiveStyleSheet('sun-flower'); return false;"></a></li>-->
                  <!--<li class="no-margin"><a title="Orange" class="orange" onClick="setActiveStyleSheet('orange'); return false;"></a></li>-->
                  <!--<li class="no-margin"><a title="Emerald" class="emerald" onClick="setActiveStyleSheet('emerald'); return false;"></a></li>-->
                  <!--<li><a title="Wet Asphalt" class="wet-asphalt" onClick="setActiveStyleSheet('wet-asphalt'); return false;"></a></li>-->
              <!--</ul>-->

        <!--</div>-->
<!-- Styleswitcher end -->
<!-- Preloader -->
  <div class="mask">
    <div class="bubblingG">
      <span id="bubblingG_1">
      </span>
      <span id="bubblingG_2">
      </span>
      <span id="bubblingG_3">
      </span>
    </div>
  </div>
<!-- Preloader end -->

<!-- START PAGE WRAPPER -->
<div id="page-wrapper">

    {{ content }}


<!--Parallax Section -->
    <div id="twitter" class="parallax" style="background-image: url('/img/HawaMahal.jpg');" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
      <div class="parallax-overlay-2"> 
        <div class="container">
          <!-- twitter feed -->
            <!--Title-->
            <div class="title">
                <a class="twitter" href="https://twitter.com/nalwayaabhishek"> <i class="icon-twitter"></i> </a>
            </div>
            <!--Title--> 

          <article id="tweet-sroll-wrapper" class="clearfix">
               <div class="tweets-list-container"></div>
          </article>
          <!-- twitter feed end -->
        </div> 
      </div>
  </div>
<!-- Parallax Section End -->
<!-- Section : Contact -->
        <section id="contact" class="section">
          <div class="container">
            <!-- section title -->
            <div class="section-title">
              <h1>Contact with me</h1>
              <span class="border"></span>

            </div>
            <!-- section title end-->

            <div class="row">
              <div class="col-md-6">
                <h2>LET'S GET IN TOUCH</h2>
                <ul class="get_in">
                  <li><i class="fa fa-envelope-o"></i><p>abhishek@nalwaya.com</p></li>
                  <li><i class="fa fa-phone"></i><p>+0123 456 789</p></li>        
                  <li><i class="fa fa-map-marker"></i><p>Gurgaon, India</p></li>
                </ul>
                        <!-- social Icons -->
                            <ul class="social">
                                <li><a class="facebook" href="https://www.facebook.com/nalwayaabhishek"></a></li>
                                <li><a class="twitter" href="https://twitter.com/nalwayaabhishek"></a></li>
                                <li><a class="linkedin" href="in.linkedin.com/in/nalwaya/"></a></li>
                                <li><a class="google" href="https://plus.google.com/116451060191319294942/"></a></li>
                                <li><a class="github" href="https://github.com/nalwayaabhishek"></a></li>
                            </ul>
                        <!-- social Icons end -->
              </div>
              <div class="col-md-6">
                  <a class="twitter-timeline" href="https://twitter.com/nalwayaabhishek" data-widget-id="447641165693587456">Tweets by @nalwayaabhishek</a>
                  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              </div>


            </div>
          </div>
        </section>
<!-- Section : Contact end -->


<!-- Footer -->
      <footer>
        <div class="container">
          <div class="copyright"> &copy; 2014 Abhishek Nalwaya All rights reserved.</div>
        </div>
      </footer>
<!-- Footer end -->
</div>
<!-- END PAGE WRAPPER -->
<!--JavaScript-->
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jquery.nav.js"></script>
<script type="text/javascript" src="/js/jquery.scrollTo.js"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false" ></script>
<script type="text/javascript" src="/js/gmap3.js"></script>
<script type="text/javascript" src="/js/appear.js"></script>
<script type="text/javascript" src="/js/jquery.form.js"></script>
<script type="text/javascript" src="/js/jquery.ufvalidator-1.0.5.js"></script>
<script type="text/javascript" src="/js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="/js/jquery.easing-1.3.pack.js"></script>
<script type="text/javascript" src="/js/styleswitcher.js"></script>
<script type="text/javascript" src="/js/owl.carousel.js"></script>
<script type="text/javascript" src="/js/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="/js/skrollr.js"></script>
<script type="text/javascript" src="/js/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="/js/jquery.sticky.js"></script>
<script type="text/javascript" src="/js/another.js"></script>
<script type="text/javascript" src="/js/metro.js"></script>
</body>
</html>